* {
  box-sizing: border-box;
  margin: 0;
  color: #000;
}

button {
  cursor: pointer;
}

.add-todo {
  margin-bottom: 80px;
}

.each-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.remove {
  background-color: red;
  color: #fff;
}